/********************************************************************************************* 
	General 
 *********************************************************************************************/
@font-face{
	font-family:'bbvaweb-book';
	src:url('../fonts/bbvaweb-book/bbvaweb-book.eot');
	src:url('../fonts/bbvaweb-book/bbvaweb-book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bbvaweb-book/bbvaweb-book.woff') format('woff'),
		url('../fonts/bbvaweb-book/bbvaweb-book.ttf') format('truetype'),
		url('../fonts/bbvaweb-book/bbvaweb-book.svg#SerifaRoman') format('svg');
	font-weight:normal;
	font-style:normal;
}

.hidden{ 	
	display: none; 
}

.bold {
	font-weight: bold;
}

.text-right {
	text-align: right;
}

.color-white {
	color: white;
}

.float-none {
	float: none !important;
}

.clear-both {
	clear: both;
}

.height100 {
	height: 100%;
}

.bbvafont {
	font-family: bbvaweb-book !important;
}

.width50 {
	width: 50% !important;
}

.logo-bbva {
	width: 40%;
	margin-left:14px;
	margin-top:14px;
}

.float-left {
	float: left !important;
}

.text-centered {
	text-align: center !important;
}

.display-inline-block {
	display: inline-block !important;
}

.width100 {
	width: 100% !important;
}

.height50 {
	height: 50% !important;
}

.margin0 {
	margin: 0 !important;
}

/********************************************************************************************* 
	HTML5 template adjustments 
 *********************************************************************************************/
.usage {
	background-color: #f5f5f5;
}

.box-api-selector {
	margin-top: 2%;
	height: auto !important;
	min-height: 380px !important;
}

.box-api-selector .panel-heading {
	height:15px !important;
}

.box_statistic {
	margin-top: 2%;
}

.box_statistic .panel-heading {
	height:15px !important;
}

.box_api_activity {	
	margin-top: 20px;
}

.box_api_activity .panel {	
	height:100px !important;	
}

.box_api_activity .panel-body {	
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;	
}

.box_api_activity .panel-body .text-main {	
	margin-top: 0px !important;
	font-size: 20px !important;	
}

.box_api_activity .panel-body .text-secondary {	
	margin-top: 0px !important;	
}

.box_api_activity .panel-heading {	
	height:15px !important;	
}

.div-api-activity {
	margin:20px;
	float:left;
	width:25%;
}

.div-api-activity label {
	width: 100%;
}

.div-api-activity-results {
	margin:20px;
	float:left;
	width:75%;	
}

.div-title {
	padding-left: 10%;
	padding-right: 10%;
	width: 60%;
}

.proxy-calls {
	width: 70%; 
	height: 300px;
}

.navbar {
	height:76px;
	margin:-11px -21px 10px -20px;
	padding:10px 20px;
	background-color: #0173bc;
	text-shadow:0 1px 0 rgba(255,255,255,0.6);
	border-bottom:1px solid #c1c1c1;
}
.navbar .page-title {
	font-size:25px;
	line-height:55px;
	margin:0;
	padding:0;
	float:left;
}
.navbar .page-title i {
	display:inline-block;
	margin:0 10px 0 0;
}
.navbar .page-info {
	float:right;
	margin-top: 10px;
	margin-right: 10px;
}
.navbar .page-info ul{
	margin:0;
	padding:0;
	list-style:none;
}
.navbar .page-info ul li{
	display:inline-block;
	padding:5px 10px;
	border-right:1px solid #cecece;
	border-left:1px solid #fefefe;
	margin-right:-4px;
	text-align:center;
}
.navbar .page-info ul li:first-child{border-left:none;}
.navbar .page-info ul li:last-child{
	border-right:none;
	padding-right:0;
}
.navbar .page-info ul li span {display:block;}
.navbar .page-info ul li span.large {
	font-family: 'BebasNeueRegular', Helvetica, Arial, sans-serif;
	font-weight:normal;
	font-size:25px;
	line-height:1.1;
}
.navbar .page-info ul li span.mini {
	font-family: Helvetica, Arial, sans-serif;
	font-weight:normal;
	font-size:11px;
	line-height:1.1;
}

.account-info-extra {
	width: 100%;
	padding-right: 15%;
}

.title {
	margin-top:-0.2%; 
	margin-left:12%; 
	font-size:35px; 
	font-family:bbvaweb-book !important; 
	color:white;
}

.subtitle {
	margin-top:-0.2%; 
	margin-left:12%; 
	font-size:14px; 
	font-family:bbvaweb-book !important; 
	color:white;	
}

.button-success {
	color: #fff;
	background-color: #86C82D;
	border-color: #86C82D;
}

.button-warning {
	color: #fff;
	background-color: #F6891E;
	border-color: #F6891E;
}

.button-danger {
	color: #fff;
	background-color: #C8175E;
	border-color: #C8175E;
}